<!-- 
This Razor partial view handles the display and functionality of the cookie consent banner. It checks whether the user has already provided consent for tracking cookies. If consent has not been given, it shows a banner at the top of the page informing the user about the cookie policy and providing a link to learn more. Upon clicking "Accept," the banner is dismissed, and a tracking consent cookie is set in the user's browser to remember their preference.
-->

@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" class="alert alert-info alert-dismissible fade show" role="alert">
        By pressing "Accept" you agree to adhere to our cookie policy. <a asp-page="/Privacy">Learn More</a>.
        <button type="button" class="accept-policy close" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
            <span aria-hidden="true">Accept</span>
        </button>
    </div>
    <script>
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;
            }, false);
        })();
    </script>
}