<!-- 
This HTML template represents the main layout of the Fag el-Gamous web application. 
It includes the head section with required meta tags, stylesheets, and the responsive viewport configuration. 
The body section consists of a header with a navigation bar, a main content container, and a footer. 
The navigation bar provides links to different pages within the application, and a dropdown menu for analysis options. 
The layout also includes partial views for login and cookie consent. 
The footer contains copyright information and a link to the privacy policy. 
The required JavaScript libraries and site-specific scripts are included at the end of the body section.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fag el-Gamous</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Fag el-Gamous</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <div class="navbar-nav ml-auto">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark nav-link-text" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark nav-link-text" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark nav-link-text" asp-area="" asp-controller="Home" asp-action="Burial">Burial Summary</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark nav-link-text" href="#" id="navbarDropdownAnalysis" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Analysis</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownAnalysis">
                                    <a class="dropdown-item" asp-area="" asp-controller="Prediction" asp-action="Index">Supervised Analysis</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Unsupervised">Unsupervised Analysis</a>
                                </div>
                            </li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark nav-link-text" asp-area="Identity" asp-page="/Account/Manage/Index">Administrative</a>
                                </li>
                            }

                            <partial name="_LoginPartial" />
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2023 - BRIGHAM YOUNG UNIVERSITY - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
