<!-- 
This Razor partial view is responsible for displaying user authentication-related navigation items in the Fag el-Gamous web application.
It uses the SignInManager and UserManager from ASP.NET Core Identity to handle user sign-in and account management. 
When a user is signed in, it displays a personalized greeting with the user's name and a logout button. 
If the user is not signed in, it provides buttons for registration and login. 
The navigation items are displayed as an unordered list with appropriate classes for styling.
-->

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-outline-primary btn-primary text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark btn btn-outline-primary btn-primary" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark btn btn-outline-primary btn-primary" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>


