@{
    ViewData["Title"] = "Home Page";
}

<!-- This is the home page, which is meant to be a welcoming introduciton to our website-->

<main role="main" class="pb-3">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="mt-5">Welcome to Fag el-Gamous</h1>
                <hr class="my-4">
                <p class="lead">Welcome to BYU's Fag El-Gamous project. Stay for a while, and learn more about this amazing, archaeological site!</p>
            </div>
        </div>
    </div>
</main>

<div class="container-fluid px-0">
    <img class="img-fluid" src="~/img/egypt.jpeg" alt="Egypt" />
</div>