@*@model IdentityUser

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Email</td>
                <td>
                    <form method="post" action="@Url.Action("DeleteUser", "AdminController", new { userId = user.Id })">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>*@
