<!--
This is the "Supervised.cshtml" file, which is a Razor view that displays the title of the Supervised Analysis Page. 
The view sets the "Title" property of ViewData to "Supervised Analysis Page" and then displays the title in a centered 
heading within the page.
-->

@{
    ViewData["Title"] = "Supervised Analysis Page";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>