@{
    ViewData["Title"] = "Unsupervised Analysis Page";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<!-- This section displays the descriptions and plots for the unsupervised analysis -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>PCA Scatter Plot with K-means Clustering</h3>
            <p>
                This scatter plot shows the results of applying Principal Component Analysis (PCA) and K-means clustering on the dataset. The two principal components are plotted on the x and y axes, and the data points are colored according to their cluster membership. This visualization helps to identify patterns and relationships within the data, as well as to group similar data points together. This analysis allowed us to get closer to our significant findings.
            </p>
            <img src="~/img/Kmeans_Scatter_Plot.jpg" alt="Kmeans_Scatter_Plot" class="img-fluid rounded" />
        </div>
        <div class="col-md-6">
            <h3>Age at Death vs. Depth Count Plot</h3>
            <p>
                This count plot shows the distribution of age at death categories across different depth bins. It provides insights into the prevalence of each age category within different depth levels, which can help to understand potential patterns and associations between burial depth and age at death. Our most significant finding was found here. The finding is that newborns and infants are not found below two meters.
            </p>
            <img src="~/img/ageatdeath.jpg" alt="ageatdeath" class="img-fluid rounded" />
        </div>
        <div class="col-md-6">
            <h3>Haircolor vs. Depth Count Plot</h3>
            <p>
                This count plot shows the distribution of hair color categories across different depth bins. It provides insights into the prevalence of each hair color within different depth levels, which can help to understand potential patterns and associations between burial depth and hair color. The finding is that some hair color varieties are not found below two meters.
            </p>
            <img src="~/img/hair_color_count_plot.jpg" alt="haircolor" class="img-fluid rounded" />
        </div>
        <div class="col-md-6">
            <h3>wrappings vs. Depth Count Plot</h3>
            <p>
                This count plot shows the distribution of wrapping categories across different depth bins. It provides insights into the prevalence of each wrapping category within different depth levels, which can help to understand potential patterns and associations between burial depth and wrapping. The finding is that the wrapping category of bones is at a much higher percentage of the total group when the depth is below two meters.
            </p>
            <img src="~/img/wrapping_count_plot.jpg" alt="wrappings" class="img-fluid rounded" />
        </div>
    </div>
</div>
