@{
    ViewData["Title"] = "Unsupervised Analysis Page";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>PCA Scatter Plot with K-means Clustering</h3>
            <p>
                This scatter plot shows the results of applying Principal Component Analysis (PCA) and K-means clustering on the dataset. The two principal components are plotted on the x and y axes, and the data points are colored according to their cluster membership. This visualization helps to identify patterns and relationships within the data, as well as to group similar data points together. This analysis allowed us to get closer to our significant findings.
            </p>
            <img src="~/img/Kmeans_Scatter_Plot.jpg" alt="Kmeans_Scatter_Plot" class="img-fluid rounded" />
        </div>
        <div class="col-md-6">
            <h3>Age at Death vs. Depth Count Plot</h3>
            <p>
                This count plot shows the distribution of age at death categories across different depth bins. It provides insights into the prevalence of each age category within different depth levels, which can help to understand potential patterns and associations between burial depth and age at death. Our most significant finding was found here. The finding is that newborns and infants are not found below two meters.
            </p>
            <img src="~/img/ageatdeath.jpg" alt="ageatdeath" class="img-fluid rounded" />
        </div>
    </div>
</div>
