<!--
This is the "PredictionHeadLocation.cshtml" file, which is a Razor view for predicting the head direction of a burial based 
on the input data. The view displays a form that collects various data points related to the burial, such as square coordinates, 
depth, dimensions, sex, wrapping, hair color, samples collected, area, and age at death.

The form is submitted using a POST request to the "Submit" action method of the controller, which processes the input data and 
returns the predicted head direction. The form contains several input fields, each with a label and a corresponding input element. 
The input elements use the "asp-for" attribute to bind their values to the properties of the BurialDataModel.

Upon submission, the form data is sent to the server for processing and the predicted head direction is returned to the user.
-->

@model BurialDataModel

    @{
        ViewData["Title"] = "Predict Head Direction";
    }

    <form asp-action="Submit" method="post">
        <h2>Predict Head Direction</h2>
        <p>Please enter categorical variables as 1 (true) or 0 (false). Categorical variables begin at Sex (Female) and include all features below that.</p>
        <p>Additionally, for a given type of categorical variable only one option should be selected and have a 1 (true). </p>
        <div class="form-group">
            <label asp-for="SquareNorthSouth"></label>
            <input asp-for="SquareNorthSouth" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Depth"></label>
            <input asp-for="Depth" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="SouthToHead"></label>
            <input asp-for="SouthToHead" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="SquareEastWest"></label>
            <input asp-for="SquareEastWest" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="WestToHead"></label>
            <input asp-for="WestToHead" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Length"></label>
            <input asp-for="Length" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="WestToFeet"></label>
            <input asp-for="WestToFeet" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="SouthToFeet"></label>
            <input asp-for="SouthToFeet" class="form-control" />
        </div>
            <div class="form-group">
            <label asp-for="Sex_F">Sex (Female)</label>
            <input asp-for="Sex_F" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Sex_M">Sex (Male)</label>
            <input asp-for="Sex_M" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="EastWest_W">East West (W)</label>
            <input asp-for="EastWest_W" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="AdultSubAdult_A">Adult Sub Adult (A)</label>
            <input asp-for="AdultSubAdult_A" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="AdultSubAdult_C">Adult Sub Adult (C)</label>
            <input asp-for="AdultSubAdult_C" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="AdultSubAdult_N">Adult Sub Adult (N)</label>
            <input asp-for="AdultSubAdult_N" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Wrapping_B">Wrapping (B)</label>
            <input asp-for="Wrapping_B" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Wrapping_H">Wrapping (H)</label>
            <input asp-for="Wrapping_H" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Wrapping_S">Wrapping (S)</label>
            <input asp-for="Wrapping_S" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Wrapping_W">Wrapping (W)</label>
            <input asp-for="Wrapping_W" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="HairColor_A">Hair Color (A)</label>
            <input asp-for="HairColor_A" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="HairColor_B">Hair Color (B)</label>
            <input asp-for="HairColor_B" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="HairColor_D">Hair Color (D)</label>
            <input asp-for="HairColor_D" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="HairColor_K">Hair Color (K)</label>
            <input asp-for="HairColor_K" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="HairColor_R">Hair Color (R)</label>
            <input asp-for="HairColor_R" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="SamplesCollected_False">Samples Collected (False)</label>
            <input asp-for="SamplesCollected_False" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="SamplesCollected_True">Samples Collected (True)</label>
            <input asp-for="SamplesCollected_True" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="SamplesCollected_Unknown">Samples Collected (Unknown)</label>
            <input asp-for="SamplesCollected_Unknown" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Area_NNW">Area (NNW)</label>
            <input asp-for="Area_NNW" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Area_NW">Area (NW)</label>
            <input asp-for="Area_NW" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Area_SE">Area (SE)</label>
            <input asp-for="Area_SE" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Area_SW">Area (SW)</label>
            <input asp-for="Area_SW" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="AgeAtDeath_A">Age at Death (A)</label>
            <input asp-for="AgeAtDeath_A" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="AgeAtDeath_C">Age at Death (C)</label>
            <input asp-for="AgeAtDeath_C" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="AgeAtDeath_I">Age at Death (I)</label>
            <input asp-for="AgeAtDeath_I" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="AgeAtDeath_IN">Age at Death (IN)</label>
            <input asp-for="AgeAtDeath_IN" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="AgeAtDeath_N">Age at Death (N)</label>
            <input asp-for="AgeAtDeath_N" class="form-control" />
        </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>














